* {
  box-sizing: border-box;
}

head {
  display: none;
  display: block;
}
header {
  background-color: #06D6A0;
  padding: 20px;
  text-align: center;
  display: block;
}

.logo {
  margin: 0;
  color: white;
  font-size: 30px;
}

h1 {
  display: block;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

nav {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul, menu {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

body {
  margin: 0;
}

.container {
  max-width: 900px;
  margin: auto;
}

main {
  display: block;
}

div {
  display: block;
}

.hero {
  overflow: hidden;
  background-color: #26547C;
  color: white;
}

.hero-image {
    float: left;
    width: 60%;
}

img {
  max-width: 100%;
}

.hero-content {
  text-align: center;
  width: 40%;;
  font-size: 25px;
}

.hero-content > h2 {
  display: inline-block;
  padding-bottom: 5px;
  border: 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.call-to-action {
  padding: 30px 20px;
  background-color: #FFD166;
}

h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.product-wrapper {
    overflow: hidden;
}

.product-item {
    float: left;
    width: 33%;
    padding: 10px;
}

.product-item > img {
    border: 3px solid black;
}

.about {
    background-color: #26547C;
    color: white;
}

.team {
    overflow: hidden;
}

.team-fun, .team-values, .team-meow {
    float: left;
    width: 33.33333%;
    text-transform: uppercase;
    text-align: center;
    color: #EF476F;
}

.call-to-action, .products, .about {
  padding: 30px 20px;
}

footer {
    background-color: #06D6A0;
    height: 50px;
    line-height: 50px;
    text-align: right;
    padding: 0 20px;
}
